---
import '../styles/prose.css';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import Page from './Page.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<Page subtitle={title} description={description}>
  <div class="bg-white dark:bg-gray-800 p-6 sm:p-8 rounded-lg shadow dark:shadow-lg dark-container">
    <article class="max-w-3xl mx-auto">
      <header class="mb-8 text-center">
        <p class="text-sm text-gray-500 dark:text-gray-400">
          <FormattedDate date={pubDate} />
        </p>
        {
          updatedDate && (
            <p class="text-sm italic text-gray-400 dark:text-gray-500">
              Last updated on <FormattedDate date={updatedDate} />
            </p>
          )
        }
        <h1 class="mt-4 text-4xl font-bold tracking-tight text-gray-900 dark:text-white">
          {title}
        </h1>
        <hr class="mt-4 border-gray-200 dark:border-gray-600" />
      </header>

      <div class="prose prose-lg prose-slate max-w-none dark:prose-invert">
        <slot />
      </div>
    </article>
  </div>
</Page>
